<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd 
    http://www.springframework.org/schema/security  
    http://www.springframework.org/schema/security/spring-security.xsd">

	<debug />

	<beans:bean id="ldapConfig" class="com.nike.lifi.constants.LdapConfig">
		<beans:property name="ldapUrl" value="${ldap.url}"></beans:property>
		<beans:property name="auth" value="${ldap.auth}"></beans:property>
		<beans:property name="domain" value="${ldap.domain}"></beans:property>
		<beans:property name="clazz" value="${ldap.clazz}"></beans:property>
		<beans:property name="enable" value="${ldap.enable}"></beans:property>
		<beans:property name="defPass" value="${ldap.defpass}"></beans:property>
	</beans:bean>

	<beans:bean id="md5Encoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" />

	<beans:bean id="sessionRegistry" class="org.springframework.security.core.session.SessionRegistryImpl" />

	<beans:bean id="securityMetadataSource"
		class="com.nike.lifi.security.SysFilterInvocationSecurityMetadataSource" />

	<beans:bean id="userDetailService" class="com.nike.lifi.security.SysUserDetailsService"></beans:bean>

	<beans:bean id="accessDeniedHandler" class="com.nike.lifi.security.handler.SysAccessDeniedHandler">
		<beans:property name="errorPage" value="/403.jsp" />
	</beans:bean>
	<beans:bean id="authenticationSuccessHandler" class="com.nike.lifi.security.handler.AjaxAuthSuccessHandler">
		<beans:property name="defaultTargetUrl" value="/index.jsp" />
	</beans:bean>
	<beans:bean id="authenticationFailureHandler" class="com.nike.lifi.security.handler.AjaxAuthFailHandler">
		<beans:property name="defaultFailureUrl" value="/login.jsp" />
	</beans:bean>

	<beans:bean id="usernamePasswordAuthenticationFilter" class="com.nike.lifi.security.filter.SysUsernamePasswordAuthenticationFilter">  
	    <beans:property name="authenticationManager" ref="authenticationManager" />  
	    <beans:property name="authenticationFailureHandler" ref="authenticationFailureHandler" />  
	    <beans:property name="authenticationSuccessHandler" ref="authenticationSuccessHandler" />  
	    <beans:property name="filterProcessesUrl" value="/login.do" />  
	    <beans:property name="postOnly" value="true" />  
	    <beans:property name="usernameParameter" value="username" />  
	    <beans:property name="passwordParameter" value="password" />  
	</beans:bean>  

	<beans:bean id="authenticationEntryPoint"
		class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<beans:constructor-arg name="loginFormUrl" value="/login.jsp" />
		<beans:property name="useForward" value="true" />
	</beans:bean>

	<beans:bean id="authenticationProvider"
		class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<beans:property name="hideUserNotFoundExceptions" value="false" />
		<beans:property name="userDetailsService" ref="userDetailService" />
		<beans:property name="passwordEncoder" ref="md5Encoder" />
	</beans:bean>

	<beans:bean id="accessDecisionManager" class="com.nike.lifi.security.SysAccessDecisionManager" />

	<beans:bean id="filterSecurityInterceptor"
		class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
		<beans:property name="accessDecisionManager" ref="accessDecisionManager" />
		<beans:property name="authenticationManager" ref="authenticationManager" />
		<beans:property name="securityMetadataSource" ref="securityMetadataSource" />
	</beans:bean>

	<authentication-manager alias="authenticationManager">
		<authentication-provider ref="authenticationProvider" />
	</authentication-manager>

	<http pattern="/bower_components/**" security="none" />
	<http pattern="/css/**" security="none" />
	<http pattern="/js/**" security="none" />
	<http pattern="/fonts/**" security="none" />
	<http pattern="/keepalive.htm" security="none" />
	<http pattern="/static/**" security="none" />

	<http use-expressions="true" access-decision-manager-ref="accessDecisionManager" entry-point-ref="authenticationEntryPoint">

		<access-denied-handler ref="accessDeniedHandler" />

		<http-basic />

		<session-management invalid-session-url="/login.jsp">
			<concurrency-control max-sessions="1" error-if-maximum-exceeded="false" expired-url="/login.jsp" />
		</session-management>

		<csrf disabled="true" />

		<logout logout-url="/logout.do" logout-success-url="/login.jsp" delete-cookies="JSESSIONID" />

		<intercept-url pattern="/login.jsp" access="hasRole('ROLE_ANONYMOUS')" />

		<intercept-url pattern="/**" access="hasRole('ROLE_LIFI_USER') or hasRole('ROLE_ADMIN')" />

		<custom-filter ref="usernamePasswordAuthenticationFilter" position="FORM_LOGIN_FILTER"/>  
		<custom-filter ref="filterSecurityInterceptor" before="FILTER_SECURITY_INTERCEPTOR" />
	</http>

</beans:beans>
